/* .text_indent-1 {
    text-indent: 1.25em;
    display: inline-block;
}
.text_indent-2 {
    text-indent: 2.5em;
    display: inline-block;
} */
.text-color-color1 {
    color: #ff7b72;
}
.text-color-color2 {
    color: #d2a8ff;
}
.text-color-color-3 {
    color: #79c0ff;
}
.text-color-color-4 {
    color: #ffa657;
}